*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.card{
    width: 22%;
    height: 60vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.card .val-1{
    width: 60%;
    border: 1px solid #fe000083;
    height: 15vh;
    background-color: none;
    padding: 20px;
    background-color: rgba(231, 232, 233, 0.683);
}
.val-1 input{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 8vh;
    font-weight: bolder;
    border: none;
    background-color: none;
    border-radius: 8px;
}
h1{
    font-size: 8vh;
    font-weight: bolder;
}

#result{
    font-size: 4vh;
    font-weight: bolder;
}