* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 50%;
    max-height: 90vh;
    padding: 8px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputS {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
    /* border: 1px solid #000; */
}

.inputS h2 {
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inputS i {
    font-size: 1em;
}
.inputS input{
    padding: 5px;
    font-size: 1.2em;
    height: 7vh;
}
.inputS button{
    width: 15%;
    height: 4vh;
    font-size: 1em;
    font-weight: 800;
    color: rgb(69, 68, 68);
    box-shadow: 1px 1px 8px #a48feaef;
    margin: 5px 0;
    border-radius: 6px;
    border: 2px solid rgb(61, 48, 99)b7;
    background: #a48feab7;
}

.inputS button:hover{
    cursor: pointer;
}

.MyTasks {
    width: 100%;
    /* border: 1px solid #000; */
}

.MyTasks table {
    width: 100%;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #000;
}

.MyTasks tr th {
    height: 5vh;
    border: 1px solid #000;
}

.MyTasks th:nth-child(1) {
    width: 10%;
}

.MyTasks th:nth-child(3) {
    width: 28%;
}

.MyTasks tr td {
    padding: 0px 8px;
    height: 5vh;
    border: 1px solid #000;
}

.MyTasks td:nth-child(3),
td:nth-child(4) {
    text-align: center;
}

.MyTasks .MarkTask {
    width: 80%;
    padding: 4px;
    border-radius: 6px;
    border: 2px solid #063d1a;
    background: #15801c;
    border: 2px solid #000;
}

.MarkTask i {
    color: white;
}

.MarkTask:hover {
    cursor: pointer;
}

.MyTasks .MarkTask1 {
    width: 80%;
    padding: 4px;
    border-radius: 6px;
    border: 2px solid #9b0303;
    background: #ff2929cf;
}

.MarkTask1:hover {
    cursor: pointer;
}

.MarkTask1 i {
    color: white;
}

i {
    font-size: 1.4em;
}