body {

    height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    background: #f4f4f4;
}

.card {
    width: 300px;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
}

.hidden {
    display: none;
}

.dark {
    background: #333;
    color: white;
}