* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;
}

.card {
    width: 40%;
    height: 35vh;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #000; */
}

.card input {
    width: 80%;
    height: 6vh;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.2em;
    border: 1px solid #9a8df4d3;
}

.card button {
    width: 25%;
    border-radius: 8px;
    border: 2px solid #140959da;
    background: #9a8df4d3;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    height: 5vh;
    margin-top: 20px;

    box-shadow: 1px 1px 5px #9a8df4d3;
}

.card button:hover{
    cursor: pointer;
}

#msg{
    font-size: 1.6em;
    margin-bottom: 20px;

}